.about {
    height: 60vw;
    width: 100%;
    background-color: black;
    padding: 0 4rem 0 4rem;
}

.aboutText{
    color: #EBEBFF;
}



@media only screen and (max-width: 768px) {
    .aboutImage{
        height: 80%;
    }
}