.about {
    height: 70vw;
    width: 100%;
    background-color: black;
    padding: 0 3rem 0 3rem;
}

.aboutText{
    color: #EBEBFF;
}

.sendToPdfFiller {
    display: none !important;
}


@media only screen and (max-width: 768px) {
    .aboutImage{
        height: 60%;
    }
}

@media only screen and (max-width:670px) {
    .aboutImage{
        height: 50vw;
        padding-top: 2rem;
        margin-top: 30%;
    }
    .about {
        flex-direction: column;
        padding: 0 2rem 2rem 2rem;
        height: 100vh;
    }
    .aboutText {
        margin-bottom: 30%;
    }
}

@media only screen and (min-width:1200px) {
    .about {
        height: 60vw;
    }
}