.name {
    font-size: xxx-large;
    color: #FFBB33;
    margin-top: 25px;
}

.intro {
    margin-top: 50px;
}

.intro-text {
    padding: 50px;
    color: #FFBB33;
    font-size: x-large;
    font-weight: bold;
    background-color: #0A3D5C;
    opacity: .8;
}