.name {
    color: #EBEBFF;
    text-align: center;
    margin-top: 15%
}

.intro-text {
    color: #EBEBFF;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 2%
}

.intro {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),  url("../../images/lightbg.jpg");
    height: 60rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media only screen and (max-width:670px) {
    .intro {
        height: 100vh;
    }
    .name {
        margin-top:40%;
    }
    .intro-text {
        margin-bottom: 40%;
    }
}